* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: whitesmoke;
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(4, 1fr); */
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    padding: 10px;
}

.content {
    height: 100%;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box.over {
    border: 3px dotted gray;
}

